.location-landing {
    position: absolute;
    top: 8rem;
    width: 220px;
    height: 450px;
    background: url("../../Assets/Images/03_location_details.png");
    background-position: center;
    background-size: cover;
    // Change background to image
}