.navigation-landing {
    position: absolute;
    top: 9rem;
    width: 360px;
    height: 800px;
    background: url("../../Assets/Images/04_route_screen.png");
    background-position: center;
    background-size: cover;
    // Change background to image
}
