.phone-landing {
    position: absolute;
    top: 9rem;
    width: 220px;
    height: 450px;
    background: url("../../Assets/Images/01_landing_screen.png");
    background-position: center;
    background-size: cover;
    // Change background to image
}